@model Bolnica.Models.Pacient

@{
    ViewData["Title"] = "Edit";
}

<h1>Измени</h1>

<h4>Пациент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrethodniBolesti" class="control-label"></label>
                <input asp-for="PrethodniBolesti" class="form-control" />
                <span asp-validation-for="PrethodniBolesti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriemenDatum" class="control-label"></label>
                <input asp-for="PriemenDatum" class="form-control" />
                <span asp-validation-for="PriemenDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vozrast" class="control-label"></label>
                <input asp-for="Vozrast" class="form-control" />
                <span asp-validation-for="Vozrast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зачувај" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до листата</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
