@model Bolnica.ViewModels.DoktorPacientViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Измени</h1>

<h4>Доктор</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doktor.Id" />
            <div class="form-group">
                <label asp-for="Doktor.Ime" class="control-label"></label>
                <input asp-for="Doktor.Ime" class="form-control" />
                <span asp-validation-for="Doktor.Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doktor.Prezime" class="control-label"></label>
                <input asp-for="Doktor.Prezime" class="form-control" />
                <span asp-validation-for="Doktor.Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doktor.Zvanje" class="control-label"></label>
                <input asp-for="Doktor.Zvanje" class="form-control" />
                <span asp-validation-for="Doktor.Zvanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doktor.Vozrast" class="control-label"></label>
                <input asp-for="Doktor.Vozrast" class="form-control" />
                <span asp-validation-for="Doktor.Vozrast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doktor.DataVrabotuvanje" class="control-label"></label>
                <input asp-for="Doktor.DataVrabotuvanje" class="form-control" />
                <span asp-validation-for="Doktor.DataVrabotuvanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doktor.Plata" class="control-label"></label>
                <input asp-for="Doktor.Plata" class="form-control" />
                <span asp-validation-for="Doktor.Plata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doktor.ProfilnaSlika" class="control-label" hidden></label>
                <input asp-for="Doktor.ProfilnaSlika" class="form-control"  hidden/>
                <span asp-validation-for="Doktor.ProfilnaSlika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Пациенти</label>
                <select asp-for="SelectedPacients" class="form-control js-example-basic-multiple"
                        asp-items="Model.PacientList"> </select>
                <span asp-validation-for="SelectedPacients" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Зачувај" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад до листата</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script>
    $(document).ready(function () {
    $("#SelectedPacients").select2();
    });
    </script>
}
